div{
    font-family: arial;
    margin-top: 0;
   

}

.whole-div{
    width: 200px;
    height: 340px;
    box-shadow: rgb(137, 133, 133) 1px 1px 12px 1px;
    align-items: center;
    margin-bottom: 20px;
}

.picture{
    width: 200px;
   
}

.name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 8px;
    margin-left: 8px;

}



.mutual{
    width: 28px;
    border-radius: 14px;
    margin-top: 0;
    margin-left: 8px;

}

.friend-mutual{
    vertical-align: middle;
    color: rgb(114, 112, 112);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

.button{
    color: white;
    border: none;
    background-color: rgb(92, 92, 255);
    padding-left: 25px;
    padding-top: 12px;
    font-size: 16px;
    padding-bottom: 12px;
    padding-right: 25px;
    border-radius: 5px;
    margin-left: 8px;
}