div{
    font-family: arial;
    font-size: 25px;
}

.container{
    border-color: rgb(192, 188, 188);
    border-style: solid;
    width: 500px;
    height: 180px;
    border-radius: 10px;
}

.flexbox{
    padding-left: 14px;
    padding-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 14px;
    margin-bottom: 20px;
}


.notifications{
    border: none;
    color: white;
    background-color: rgb(54, 122, 223);
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 14px;
    font-size: 20px;
}