div{
    font-family: arial;
    margin-bottom: 60px;
    margin-left: 30px;
    display: inline-block;
}

p{
    margin-left: 10px;
}
.suggestion-friend{
    width: 180px;
    height: 300px;
    border: none;
    box-shadow: rgb(137, 133, 133) 1px 1px 10px 1px;
    border-radius: 1px;

}

.girl-pic{
    width: 180px;
    height: 180px;
    object-fit: cover;


}

.oliver{
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    
    margin-bottom: 8px;

}

.mutual-friend{
    margin-top: 0;
    color: rgb(84, 81, 81);
}

.add-friend-button{
    color: white;
    background-color: rgb(79, 79, 243);
    border: none;
    padding-left: 18px;
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    border-radius: 5px;
}
    