div{
   text-align: center;
}

img{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;

}

input{
    margin-bottom: 20px;
    width: 500px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    border-radius: 50px;
    border: none;
    box-shadow: rgb(207, 205, 205) 1px 1px 8px 1px;
    margin-top: 10px;
}

.google-search-bar , 
.im-feeling-lucky{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border: none;
    font-family: arial;
    font-size: 14px;
    margin: 8px;
    text-align: center;
  
}