div{
    font-family: arial;
   
}
.whole-div{
    width: 550px;
    display: block;
}
.first-div{
    width: 100px;
    display: block;
}

.profile-div{
    width: 80%;
    display: block;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;

}

.second-div{
    width: 200px;

}

.profile-name{
    display: inline-block;
    font-size: 16px;

}

.girl-popular{
    
}