.sreach-bar{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    border-color: rgb(203, 201, 201);
    border-style: solid;
    border-width: 1.9px;
    border-radius: 8px;
}